# Various IDEs
.project
.idea/
*.tmproj
# Common backup files
*.swp
*.bak
*.tmp
# Helm files
chart/charts/*
chart/release/*
chart/Chart.lock
# Jsonnet files
jsonnet/vendor/
jsonnet/jsonnetfile.lock.json
chart/jsonnet-*.tar.gz
# Test files
json/*
# Docs files
docs/site/*
docs/documentation.md
